*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color-scheme: dark;
    color:white;

  
}
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(9, 9, 70, 0.896),rgb(56, 95, 116), rgb(0, 14, 87)); 
}

a {
    font-size: 14px;
}

a:hover {
    font-size: 16px;
    
}
header h1 {
    font-size: 50px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
    
}

.home {
    margin-left: 20px;
}
.container{
margin: auto;
}

.titleContainer {
    width:60%;
}

.relative  {
    width: 300px;
}
div header {
    
	width:100%;
	text-align: center;
	font-size:20px;
    font-weight: bold;
	color: white;
    text-align: center;
	
}
#moviePoster {
    margin-right:0px;
}

main {
    font-size: large
}

button {
    text-align: left;
} 

/* section div input {
    
	align-items: center;
	height:50%;
	width:45%;
	background:rgba(3, 36, 50, 0.347);
	border:3px solid rgb(177, 173, 230);
	border-radius: 5px;
	left:50%;
	transform: translateX(-50%);
    font-size: 20px;
	

}

#buttonstyle {
    height:50%;
	width:45%;
    align-items: center;
}*/



footer {
    margin-top:auto;
    width: 100%;
    height: 0.5rem;
   
} 

.hide {
    display: none;
} 


#search-history-container {
    text-transform: capitalize;
}


main {
    display: flex;
    margin-top: 10%;
}

.footer {
    text-align:center;
}

#moviePoster {
    width: 30%;
    height: 30%;
    margin: auto;
} 

.movieInfo {
    float: right;
    
}

.trailer {
    float: left;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 40px;
}

.modal p {
    color: black;
}

.modalInfo span {
    float: right;
    border: 1px solid black;
    padding: 1px 6px;
    margin-top: -30px;
    margin-right: -30px;
    color: black;
    background: white;
}

.modalInfo span:hover {
    box-shadow: 2px 2px 1px 0.5px black;
}

p {

}

#movieTitle {
    font-size: 26px;
    font-style:
}