*{
    font-family: monospace;
    color:white;

    
}
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

a {
    font-size:16px;
}
header h1 {
    font-size: 50px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
}



div header {
    
	width:100%;
	text-align: center;
	font-size:20px;
    font-weight: bold;
	color: white;
    align-text: center;
	
}
#moviePoster {
    margin-right:0px;
}

main {
    font-size: large
}
    
/* section div input {
    
	align-items: center;
	height:50%;
	width:45%;
	background:rgba(3, 36, 50, 0.347);
	border:3px solid rgb(177, 173, 230);
	border-radius: 5px;
	left:50%;
	transform: translateX(-50%);
    font-size: 20px;
	

}

#buttonstyle {
    height:50%;
	width:45%;
    align-items: center;
}

button {
    position: relative;
    display: block;
	align-items: center;
    left:50%;
	transform: translateX(-50%);
    width:10%;
    height:30%
    border:2px solid rgb(173, 198, 230);
    font-size:15px;
    margin-top: 10px;
} */

footer {
    margin-top:auto;
    width: 100%;
    height: 2.5rem;
   
}

.hide {
    display: none;
} 

#search-history-container {
    text-transform: capitalize;
}

main {
    display: flex;
    margin-top: 10%;
}

#moviePoster {
    width: 30%;
    height: 30%;
    margin: auto;
}

.movieInfo {
    float: right;
    margin: 50px;
}

.trailer {
    float: left;
}